.card-bg {
    background-image: url(../../src/img/card-bg.png) !important;
    background-position: center;
    background-size: cover;
    background-color: transparent;
}
#img-rotator {
    transition: box-shadow .1s transform;
}
#img-rotator:hover {
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.4);
}