.mask-container {
    height: 40rem;
}
.flyer-target {
    max-width: 100%;
    width: 45%;
    top: 17rem;
    border-radius: 50%;
}
.flyer-mask {
    width: 100%;
}

.flyer-mask {
    z-index: 0;
}
.text {
    font-size: 1.5rem;
    top: 31rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 0.5rem rgba(0,0,0,0.5);
}