@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

:root {
  --bg-primary: #0281f4;
  --bs-btn-disabled: #b3daff;
  --bs-focus-input-border-color: #b3daff;
  --bs-focus-input-shadow-color: #b3daff;
  --bg-light: #e7f0fa;
  --bg-success: #00da79;
  --bg-warning: #ff87a1;
  --bg-dark: #000;
}

body {
  font-family: "Poppins", sans-serif;
}
.text-dark {
  color: var(--bg-dark) !important;
}
.sans {
  font-family: "Source Sans 3", sans-serif;
}
.openSans {
  font-family: 'Open Sans', sans-serif;
}
.bg-primary {
  background-color: var(--bg-primary) !important;
}
.btn-primary {
  background-color: var(--bg-primary);
  border-color: var(--bg-primary);
  color: white;
}
.form-control:focus {
  border-color: var(--bs-focus-input-border-color);
  box-shadow: 0 0 0 2px var(--bs-focus-input-shadow-color);
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
  background-color: var(--bs-btn-disabled);
}

.bg-light {
  background-color: var(--bg-light) !important;
}

.navbar-vertical.bg-white .navbar-nav .nav-link.active {
  background-color: var(--bg-primary);
  color: #fff;
  border-radius: 0.5rem;
}

.navbar-vertical .navbar-brand-img,
.navbar-vertical .navbar-brand > img {
  max-height: none !important;
}

/* flyers */
.flyer-container img {
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.list-messages a {
  font-weight: bolder;
  text-decoration: underline;
  color: var(--bg-primary);
}

.list-messages {
  height: 32rem;
}
.chat-ia-box {
  width: 27rem;
}
.offcanvas-body .card {
  box-shadow: none !important;
}

.zoom-element,
.zoom-element:hover {
  transition: all ease 200ms;
}
.zoom-element:hover {
  transform: scale(1.05);
  box-shadow: 1rem 2rem 2rem rgba(0, 0, 0, 0.1);
}

.marquee {
  width: 100%;
  height: 90px;
  overflow: hidden;
}

.marquee li {
  font-size: 50px;
}

.marquee__content {
  display: flex;
  list-style: none;
  animation: scrolling 10s linear infinite;
}

.marquee__item {
  flex-shrink: 0;
}

@keyframes scrolling {
  0% { transform: translateX(0) }
  100% { transform: translateX(-100%) }
}
.alert-primary {
  background-color: var(--bg-primary) !important;
}
.rounded-badge {
  border-radius: 1rem;
}

.shake {
  animation: shake 1s 5s cubic-bezier(.36,.07,.19,.97) 5;

}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}