.card-img-top {
    height: 300px;
    object-fit: cover;
    object-position: top;
    mask-image: linear-gradient(to bottom, black 40%, transparent 90%);
}
.opacity-50{
    opacity: 0.5;
}
.avatar {
    object-fit: cover;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link 
{
    color: white !important;
    background-color: #1bbae7 !important;
}