/* It's supposed to look like a tree diagram */
.tree,
.tree ul,
.tree li {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.tree {
  margin: 0 0 1rem;
  text-align: center;
}
.tree,
.tree ul {
  display: table;
}
.tree ul {
  width: 100%;
}
.tree li {
  display: table-cell;
  padding: 0.5rem 0;
  vertical-align: top;
}
/* _________ */
.tree li:before {
  outline: solid 1px var(--bs-focus-input-border-color);
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: -1px;
}
.tree li:first-child:before {
  left: 50%;
}
.tree li:last-child:before {
  right: 50%;
}

.tree span:before,
.tree span:hover:before,
.tree span,
.tree span:hover {
  transition: all ease 250ms;
}
.tree span:hover:before {
  display: none;
}
.tree span:hover .bi {
  color: #fff !important;
}
.tree span.hover,
.tree span:hover {
  transform: scale(1.07);
  color: #fff;
  background-color: var(--bg-primary) !important;
  border-color: #fff;
}
.tree span {
  border: 3px solid #fff;
}
.tree code,
.tree span {
  background-color: #fff;
  border-radius: 0.2rem;
  display: inline-block;
  margin: 0 0.2em 0.5em;
  position: relative;
  z-index: 10;
}

.tree ul:before,
.tree code:before,
.tree span:before {
  outline: solid 1px var(--bs-focus-input-border-color);
  content: "";
  height: 0.5rem;
  left: 50%;
  position: absolute;
  z-index: 0;
}
.tree ul:before {
  top: -0.5rem;
}
.tree code:before,
.tree span:before {
  top: -0.7rem;
}

/* The root node doesn't connect upwards */
.tree > li {
  margin-top: 0;
}
.tree > li:before,
.tree > li:after,
.tree > li > code:before,
.tree > li > span:before {
  outline: none;
}


.tree a:hover + ul span {
  background-color: var(--bs-focus-input-border-color) !important;
}
.avatar img {
  object-fit: cover;
}